// Navigation Styles here


  nav {
    margin-top: 20px;
    width: 610px;
    justify-content: Flex-end;
    display: flex;
  

    a {
      text-decoration: none;
      margin-left: 20px;
      color: black;
      display: flex;
      font-size: 2rem;
    } // a
  } //nav