// Navigation Styles here

nav {
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    // border: 1px solid red;

    @media @phone {
      margin-left: 0;
    }

    a {
      color: black;
      text-decoration: none;
      margin-left: 20px;
      font-size: 2rem;
    }

    // .first-anchor {
    //   margin-left: 0;
    // }
  }// nav