// Navigation Styles here

nav {
    border: 1px solid red;
    display: flex;
    margin-left: 300px;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 55px;
    width: 320px;
    

    @media @phone {
      margin-left: 0;
    }

    a {
      justify-content: flex-end;
      color: black;
      text-decoration: none;
      margin-left: 20px;
      font-size: 1.5rem;
    }

    // .first-anchor {
    //   margin-left: 0;
    // }
  }// nav